@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(231deg, rgb(34, 10, 61) 0%, rgb(130, 120, 141) 50%, rgba(88, 7, 125, 1) 100%);
}
.container{
    width: 90%;
    max-width: 500px;
}

h1{
    color: white;
    opacity: 70;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.display-container{
    position: relative;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet);
    margin: 1rem 0;
    padding-top: 0.35rem ;


}
.display{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding:1.15rem 1rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    color: white;
}

.display::placeholder{
    position: absolute;
    color: var(--vb-yellow);
    top:50%;
    left: 1.5rem;
    font-size:1.5rem;
    line-height: 30px;
    transform: translateY(-50%);
}

.display-container  button{
    position: absolute;
    right: 1.5rem;
    top:50%;
    transform: translateY(-50%);
}

.input-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet);
    padding: 2rem;
}

.length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.length-container p:nth-child(1){
    font-size: 1.2rem;
    color: white;
}
.length-container p:nth-child(2){
    color: var(--vb-yellow);
}

.strength-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
}

.strength-container p{
    color: white;
    font-size: 1.2rem;
}
.indicator-circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.generateButton{
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    background-color: var(--lt-violet2);
    text-align: center;
    color: var(--vb-yellow);
    font-size: 1.25rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}
.check input{
    appearance: none;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: var(--vb-cyan);
}
.check input:checked::before{
    content:'✓';
    position: absolute;
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 600;
    left: 10%;
    top:-3.5px;
    transform: translateX(-50%);
    transform: translateY(20%);
}
.check label{
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    font-family: sans-serif;
}

.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var(--lt-violet);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background: rgb(100,0,236);
    background: linear-gradient(229deg, rgba(100,0,236,1) 0%, rgba(99,48,120,1) 100%);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px 5px rgba(255,229,61,0.80);
    border: none;
    outline: none;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    margin-top:-3px;
    transition: all 100ms ease-in ;
    z-index: 1;
}
.slider:focus{
    outline: 3px solid yellow;
}
.slider::-webkit-slider-thumb:hover{
    background-color: var(--dk-violet);
    outline: 2px solid yellow;
    box-shadow: 0px 0px 25px 5px rgba(255,229,61,0.80);
    
}
.copyBtn{
    background-color: transparent;
    border: none;
}
.tooltip{
    background-color: rgb(8, 0, 255);
    position: absolute;
    color: var(--vb-yellow);
    font-size: 0.7rem;
    padding: 5px 5px;
    border-radius: 1rem;
    top: -35px;
    /* opacity: 0; */
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.active{
    opacity: 1;
    transform: scale(1);
}